/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
a.edit{
    text-decoration: none;
    color: #3498db;
    margin: 1% 50%;
    display: inline-block;
    
}
a {
    text-decoration: none;
    color: #3498db;
    margin-bottom: 10px;
    display: inline-block;
}

a:hover {
    color: #2980b9;
}

form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
}

table tr, table td {
    padding: 10px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
